<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials :: head ('View-Posts')">
</head>

<body>

<div id="page-container">
    <div id="content-wrap">
        <nav th:replace="partials :: navbar"></nav>
    </div>

    <!--    posts show content -->
    <div>
        <h3 th:text="${post.title}"></h3>
        <p th:text="${posts.body}"></p>
    </div>

</div>

<footer th:replace="partials :: footer"></footer>

<div th:replace="partials :: boot-scripts"></div>

</body>
</html>
