<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Roll Dice!')">
<!--  <meta charset="UTF-8">-->
<!--  <title>Roll Dice</title>-->
</head>
<body class="main-container main-bg">
<nav th:replace="partials :: navbar"></nav>
<main class="container">
<h1>Let's roll dice!</h1>
<h3>Click on a number to guess:</h3>
  <h3><a href="/roll-dice/1">1</a></h3>
  <h3><a href="/roll-dice/2">2</a></h3>
  <h3><a href="/roll-dice/3">3</a></h3>
  <h3><a href="/roll-dice/4">4</a></h3>
  <h3><a href="/roll-dice/5">5</a></h3>
  <h3><a href="/roll-dice/6">6</a></h3>
</main>

<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>